.brand-top {
  /* Your existing styles */
  position: relative;
  padding-block: 2rem;
  background-image: url("https://img.freepik.com/free-vector/doodle-travel-background_23-2148044879.jpg?w=740&t=st=1702984823~exp=1702985423~hmac=b6682f8012b7deaaf3b9688f64dbd3dc38d72484828875d09983daec102d9512");
}

.brand-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.865);
}

.brand {
  margin-inline: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-img {
  display: flex;
  height: max-content;
  margin-block-end: 4rem;
  flex: 1;
  justify-content: center;
}

.brand-img img {
  width: max-content;
  height: 6rem;
  margin: 1rem;
  filter: grayscale(100%);
}

.brand-img img:hover {
  filter: grayscale(0);
}

.brand-head {
  width: max-content;
  position: relative;
  margin: auto;
  text-align: center;
  margin-block: 2rem;
  font-size: 3rem;
  color: #023047;
}
.genre-top {
  background-image: url("https://img.freepik.com/free-vector/doodle-travel-background_23-2148044879.jpg?w=740&t=st=1702984823~exp=1702985423~hmac=b6682f8012b7deaaf3b9688f64dbd3dc38d72484828875d09983daec102d9512");
  /* background-color: #f8fbfc; */
  padding-block: 2rem;
  position: relative;
}
.genre-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.774);
}

.genre {
  margin-inline: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.genre-head {
  font-size: 1.9rem;
  position: relative;
  color: #023047;
  margin-inline-start: 4rem;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 4rem;
}

.genre-img {
  width: max-content;
  height: max-content;
  /* filter: grayscale(100%); */
  color: #023047;
  margin: 2rem;
}
.genre-img i {
  width: 6rem;
  height: 6rem;
  border-radius: 50% 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  border: 0.1rem solid #023047;
}

.genre-img i:hover {
  background-color: #023047;
  cursor: pointer;
  color: white;
  /* border: 0.1rem solid white; */
}
.img-desc {
  text-align: center;
  font-size: 1rem;
}
