.nav-top-sidebar {
  z-index: 1000;
  position: fixed;
  width: 2rem;
  padding: 0.5rem;
  height: 30vh;
  margin-block-start: 35vh;
  /* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  background-color: #1d4256;
  border-radius: 0 1rem 1rem 0;
  transition: 500ms;
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 3rem;
  /* background-color: inherit; */
  background-color: white;
  transition: 1s;
}

.nav-hidden {
  /* display: none; */
}

.nav-top {
  width: 40rem;
  margin: auto;
  height: 3rem;
  display: flex;
}

.nav-list {
  font-size: 1rem;
  color: black;
  font-family: Martel Sans;
  font-weight: 600;
}
.nav-list:hover {
  color: #023047;
  cursor: pointer;
  text-decoration: underline;
}

.nav-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(207, 206, 206);
}
.nav-icon:hover {
  color: white;
  cursor: pointer;
}
