.story-banner-top {
  background-image: url("https://images.unsplash.com/photo-1491582990992-68ec88e070a3?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 0; */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.772));
    pointer-events: none;
  }
}

.story-banner-head {
  font-size: 5.8rem;
  color: white;
  font-weight: 800;
  position: relative;
}
.story-banner-desc {
  font-size: 1rem;
  color: white;
  position: relative;
}

.story-genre-top {
  position: relative;
  background-color: white;
  /* background-image: url("https://img.freepik.com/free-vector/gray-line-drawings-organic-shapes-background_1409-3947.jpg?w=900&t=st=1702978888~exp=1702979488~hmac=ca1991dc0b02d19ceb35f955b6247b1e5fe8f796ce8f6c950e19b15461511c7f"); */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  /* justify-content: center; */
  /* align-items: center; */
}

.story-genre-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffffd8;
  /* height: 100%; */
}

.story-genre-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  padding-inline: 4rem;
  padding-block: 2rem;
  height: 100%;
}

.story-genre-inner > * {
  flex: 1;
  margin: 1rem;
  min-width: 30%;
}
.story-genre-inner > * img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  border: none;
  transition: filter 0.3s ease-in-out;
}

.story-genre-inner > * {
  flex: 1;
  position: relative;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1.9));
}
.story-genre-inner > *::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.story-genre-inner > *:hover img {
  /* filter: brightness(70%); */
  filter: brightness(80%); /* Apply vignette effect by default */
  /* color: white; */
}

.story-genre-item {
  flex: 1;
  position: relative;
  margin: 1rem;
  min-width: 30%;
}

.story-genre-item img {
  width: 100%;
  height: 100%;
  position: relative;
  border: none;
  transition: filter 0.3s ease-in-out;
  filter: brightness(65%); /* Apply vignette effect by default */
}

.story-genre-item .image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.trending-stories-inner-top {
  position: relative;
  margin-inline: 4rem;
  margin-block: 2rem;
}

.trenidng-stories-head {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #023047;
}

.trending-stories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-block: 2rem; */
}

.trending-stories-item {
  width: 30%;
  height: max-content;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-inline: 0.5rem;
  margin: 0.5rem;
}

.trending-story-list-detail > * {
  padding-block: 0.5rem;
}

.ico-likes {
  margin-inline-start: 0.5rem;
}

.ico-bookmark {
  margin-inline-end: 0.5rem;
  color: #023047;
  font-size: 1.5rem;
}
.story-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-desc {
  height: 7rem;
}

.story-location {
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  color: grey;
  padding: 0.4rem;
  flex: 1;
}

.story-title {
  flex: 1;
  font-weight: 600;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  padding: 0.4rem;
  color: #242424;
}
.story-desc {
  color: rgb(87, 79, 79);
  font-family: Noticia Text;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.4rem;
  flex: 1;
}
.story-auth {
  font-size: 0.8rem;
  padding-inline-start: 0.4rem;
  color: #242424;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}
.story-published {
  font-size: 1rem;
  padding-inline-start: 0.4rem;
  color: black;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.story-like {
  font-size: 1rem;
  padding-inline-start: 0.4rem;
  color: rgb(0, 65, 218);
  flex: 1;
  text-align: start;
}

.trending-author-top {
  height: max-content;
  /* background-image: url("https://img.freepik.com/free-vector/gray-line-drawings-organic-shapes-background_1409-3947.jpg?w=900&t=st=1702978888~exp=1702979488~hmac=ca1991dc0b02d19ceb35f955b6247b1e5fe8f796ce8f6c950e19b15461511c7f"); */
  /* background-image: url(""); */
  position: relative;
  background-color: white;
}

.trending-author-inner-top {
  position: relative;
  padding-inline: 4rem;
  padding-block: 2rem;
  height: 100%;
}

.trending-author-head {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #023047;
}

.trending-author-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 2rem;
}
.trending-author-list > * {
  flex: 1;
  margin: 1rem;
  min-width: 29%;
}

.trending-author-item {
  cursor: pointer;
  padding: 0.5rem;
  height: max-content;
  max-width: 20rem;
  box-shadow: 8px 8px 0px #000000;
  transition: 1000ms;
}

.trending-author-item:hover {
  box-shadow: 0 0 10px 1px rgba(50, 50, 50, 0.5);
  transition: 1000ms;
}
.trending-author-item img {
  width: 6rem;
  border-radius: 50%;
  height: 6rem;
  object-fit: cover;
  /* max-height: 40%;
  min-height: 40%; */
}

.author-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}
.trending-author-card {
  box-shadow: 8px 8px 0px #000000;
  /* flex-direction: row; */
}

.trending-author-list-detail {
  display: flex;
  flex-direction: column;
}

.trending-author-list-detail > * {
  padding: 0.5rem 0 0 0.5rem;
}

.trending-author-list-detail :nth-child(1) {
  font-size: 1.5rem;
  color: grey;
}
.trending-author-list-detail :nth-child(2) {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  height: 4rem;
}
.trending-author-list-detail :nth-child(3) {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/* int calculateGCD(int a, int b) {
    while (b != 0) {
        int temp = b;
        b = a % b;
        a = temp;
    }
    return a;
}

// Function to calculate the LCM using the GCD
int calculateLCM(int a, int b) {
    // Avoid division by zero
    if (a == 0 || b == 0) {
        return 0;
    }
    return std::abs(a * b) / calculateGCD(a, b);
} */
